<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" style="padding: 20px">
  <mat-card fxFlex>
    <mat-card-title>Mes demandes</mat-card-title>

    <mat-card-content style="padding-top: 10px;">
      <mat-accordion class="headers-align">

        <mat-expansion-panel *ngFor="let req of requests">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>{{req[1].name}}
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <span>
                {{req[0].state | requestState:req[3]}}

                <mat-icon color="warn" inline="true" *ngIf="req[0].state === RequestState.REQUESTED_CHANGES">error_outline</mat-icon>
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>{{req[0].state | requestStateDescription}}</p>

          <mat-accordion class="headers-align">

            <mat-expansion-panel *ngFor="let accred of req[3]">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{accred[1].name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{accred[0].state | accredState}}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <p>Blep</p>

              <mat-action-row>
                <button mat-button>Accéder à l'accréditation</button>
              </mat-action-row>

            </mat-expansion-panel>

          </mat-accordion>

          <mat-action-row>
            <button mat-button>Accéder à la demande</button>
          </mat-action-row>

        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex fxFlexAlign="start">
    <mat-card-title>Nouvelle demande</mat-card-title>
    <mat-card-content>

      <mat-nav-list>

        <a mat-list-item href="..." *ngFor="let type of requestTypes">
          <h3 matLine>{{type[0].name}}</h3>
          <p matLine>
            <span>{{type[0].shortDescription}}</span>
          </p>
        </a>
      </mat-nav-list>

    </mat-card-content>
  </mat-card>


</div>
