<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" style="padding: 20px">
  <mat-card fxFlex>
    <mat-card-title>Mes demandes</mat-card-title>

    <mat-card-content style="padding-top: 10px;">
      <mat-accordion class="headers-align">

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Autorisation de parking
            </mat-panel-title>
            <mat-panel-description>
              3 autorisations accordées, 2 validées
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accréditation presse
            </mat-panel-title>
            <mat-panel-description>
              En attente
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accréditation presse
            </mat-panel-title>
            <mat-panel-description>
              Refusée
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Billet gold
            </mat-panel-title>
            <mat-panel-description>
              1 autorisation accordée
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accréditation presse
            </mat-panel-title>
            <mat-panel-description>
              Brouillon
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex fxFlexAlign="start">
    <mat-card-title>Nouvelle demande</mat-card-title>
    <mat-card-content>

      <mat-nav-list>

        <a mat-list-item href="...">
          <h3 matLine>Accréditation presse</h3>
          <p matLine>
            <span>Pour obtenir une autorisation pour couvrir notre événement</span>
          </p>
        </a>
        <a mat-list-item href="...">
          <h3 matLine>Autorisation de parking exposant</h3>
          <p matLine>
            <span>Pour obtenir une autorisation pour vous garer à proximité des entrées lors de l'événement</span>
          </p>
        </a>
        <a mat-list-item href="...">
          <h3 matLine>Bracelets supplémentaires</h3>
          <p matLine>
            <span>Pour obtenir des bracelets supplémentaires pour les staffs de votre stand</span>
          </p>
        </a>
      </mat-nav-list>

    </mat-card-content>
  </mat-card>


</div>
